.formtable{
  width:80%;
  tr{

  }
  td{
   padding:1em; 
  }
  td:first-child{
    font-weight:500;
    width:20%;
  }
  input, textarea{
    width:100%;
    border-radius:0.5em;
    padding:0.5em 1em;
    border:solid 1px #ddd;
    font-family:inherit;
  }
  textarea{
    min-height:6em;
  }
}
